* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.pwConfirm-true {
	font-size: .8rem;
	color: green;
}

.pwConfirm-false {
	font-size: .8rem;
	color: red;
}

.avatar {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.gameImageSpan {
	font-size: .8rem;
	color: grey;
}

.gameImg {
	border-radius: 25%;
	height: 60px;
	width: 60px
}